[submodule "sinyal-bahasa-cc-laravel"]
	path = sinyal-bahasa-cc-laravel
	url = https://github.com/KNobHack/sinyal-bahasa-cc-laravel.git
[submodule "sinyal-bahasa-fastapi"]
	path = sinyal-bahasa-fastapi
	url = https://github.com/KNobHack/sinyal-bahasa-fastapi.git
[submodule "sinyal-bahasa-ml"]
	path = sinyal-bahasa-ml
	url = https://github.com/KNobHack/sinyal-bahasa-ml.git
[submodule "sinyal-bahasa-md"]
	path = sinyal-bahasa-md
	url = https://github.com/KNobHack/sinyal-bahasa-md.git